/* Parágrafo */
p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
/* Título h1 */
h1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
/*  */
h3 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
/*  */
h6 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}